.logo{
    margin-inline: 41.5%;
    font-family: cursive;
}
#logo{
    margin-inline: 39%;
}
.div1{
    margin-inline: 30%;
    width: 32%;
    height: 220px;
    border-width: thick;
    border-color:darkgoldenrod;
    border-style: solid;
}
input{
    width: 300px;
    margin-left: 20px;
    text-align: left;
}
label{
    font-family: cursive;
    margin-top: 50px;
    text-align: left;
    margin-left: 20px;
}
button:hover {
    background-color:darkorange;
    cursor:pointer;
}
.login{
    margin-inline: 29%;
    background-color:darkgoldenrod;
    font-family:cursive;
    color: white;
    border-radius: 20px;
    border-color: white;
    width: 130px;
    height: 40px;
    font-size:medium;

}
.home{
    background-color:darkgoldenrod;
    font-family:cursive;
    color: white;
    border-radius: 20px;
    border-color: white;
    width: 130px;
    height: 40px;
    font-size:medium;
    float: right;
}
p{
    margin-left: 20px;
    font-family:cursive;
}
body{
    height: 800px;
}