.home{
    background-color:darkgoldenrod;
    font-family:cursive;
    color: white;
    border-radius: 20px;
    border-color: white;
    width: 130px;
    height: 40px;
    font-size:medium;
    float: right;
}
button:hover {
    background-color:sienna;
    cursor:pointer;
}
.logo{
    margin-inline: 15%;
    font-family: cursive;
}
#logo{
    margin-inline: 39%;
}
.barra{
    text-align: left;
    width: 85%;
    height: 40px;
    margin-inline: 15%;
}
.bar{
    background-color:darkgoldenrod;
    font-family:cursive;
    color: white;
    border-color: black;
    width: 130px;
    height: 40px;
    font-size:medium;
    float: left;
}
p{
    font-family: cursive;
    margin-inline: 15%;
}
.user{
    float: right;
    margin-right: 50px;
}
#user{
    float: right;
    margin-right: 200px;
}
body{
    height: 1200px;
}
#set{
    background-color:sienna;
}
.div1{
    margin-inline: 15%;
    width: 70%;
    height: 600px;
}
label{
    font-family: cursive;
}
.text{
    font-family: cursive;
    width: 200px;
    height: 30px;
}
#des{
    width: 700px;
    height: 200px;
    text-align: center;
    font-size: xx-large;
    color: gray;

}
.cancel{
    float: left;
    margin-left: 11%;
    margin-top: 100px;
}
.save{
    background-color:green;
    font-family:cursive;
    color: white;
    border-radius: 10px;
    border-color: white;
    width: 130px;
    height: 40px;
    font-size:medium;
    float: right;
    margin-right: 27%;
    margin-top: 90px;
}