.home{
    background-color:darkgoldenrod;
    font-family:cursive;
    color: white;
    border-radius: 20px;
    border-color: white;
    width: 18%;
    height: 35px;
    font-size: 90%;
    float: right;
}
button:hover {
    background-color:sienna;
    cursor:pointer;
}
.logo{
    margin-inline: 15%;
    font-family: cursive;
    font-size: 150%;
    clear: both;
}
#logo{
    margin-inline: 39%;
    text-align: center;
    width: 25%;
}
.barra{
    text-align: left;
    width: 100%;
    margin-inline: 15%;
}
.bar{
    background-color:darkgoldenrod;
    font-family:cursive;
    color: white;
    border-color: black;
    width: 80px;
    height: 35px;
    font-size:80%;
    float: left;
}
p{
    font-family: cursive;
    margin-inline: 15%;
    font-size: 90%;
}
.user{
    width: 50%;
    float: right;
    font-size: 10%;
}
#user{
    float: right;
    margin-right: 41%;
    width: 8%;
}
#set{
    background-color:sienna;
}
.div1{
    margin-inline: 15%;
    width: 70%;
}
label{
    font-family: cursive;
    font-size: 90%;
}
.text{
    font-family: cursive;
    width: 30%;
    height: 30px;
}
#des{
    width: 100%;
    height: 200px;
    text-align: left;
    font-size: large;
    color: black;

}
.cancel{
    float: left;
    margin-left: 20%;
    margin-top: 12%;
    width: 15%;
}
.save{
    background-color:green;
    font-family:cursive;
    color: white;
    border-radius: 10px;
    border-color: white;
    width: 80px;
    height: 35px;
    font-size:medium;
    float: right;
    margin-right: 20%;
    margin-top: 11%;
}
#text-name{
    font-size: 100%;
    float: right;
    margin-right: 8%;
}
.divUser{
    width: 50%;
    float:right;
    text-align: left;
}
.divBar{
    width: 50%;
}
.divSave{
    width: 100%;
}